@font-face {
    font-family: MullerBold;
    src: url('../fonts/MullerBold.woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: MullerLight;
    src: url('../fonts/MullerLight.woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: MullerMedium;
    src: url('../fonts/MullerMedium.woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: MullerRegular;
    src: url('../fonts/MullerRegular.woff');
    font-style: normal;
    font-weight: normal;
}

.container {
    margin: 0 auto;
    width: 1170px;
    background-color: #E5E5E5;
    padding: 20px;
}

h2 {
    font-family: MullerLight;
    font-size: 40px;
    margin-left: 45px;
    padding-top: 40px;
}

a {
    text-decoration: none;
    color: #666666;
}

.phone {
    position: absolute;
    font-family: MullerMedium;
    font-size: 20px;
    line-height: 60px;
    margin-left: 40px;
    color: #666666;
}

.personal-account {
    position: absolute;
    right: 19.5%;
    color: #CC9933;
    font-family: MullerRegular;
    font-size: 16px;
    background-image: url('../img/vector.svg');
    background-size: 21px;
    background-repeat: no-repeat;
    padding-left: 25px;
    margin-top: 21px;
}

.table-list {
    display: flex;
    align-items: center;
    list-style: none;
    background-color: white;
    padding-left: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.table-list-all {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    margin-top: 20px;
}

.list1 {
    font-family: MullerRegular;
    margin-left: 50px;
}

.border {
    border: 1px solid;
    border-color: #E1E1E1;
    margin-left: 52px;
    margin-right: 52px;
    padding-bottom: 25px;
    padding-top: 25px;
}

.btn-header-items {
    border: 1px solid;
    border-color: #CC9933;
    border-radius: 10px;
    background-color: white;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-right: 32px;
}

.btn-header-items-link {
    font-size: 16px;
    color: #CC9933;
    padding-left: 12px;
    padding-right: 12px;
}

.images-section1 {
    list-style: none;
    display: flex;
}

.text-images {
    background-image: url(../img/Rectangle14.jpg);
    font-family: MullerBold;
    font-size: 40px;
    color: white;
    margin-top: 50px;
    margin-left: 40px;
}

.details {
    font-family: MullerLight;
    padding-right: 18px;
    color: #FFCC66;
    background-size: 11px;
    background-image: url('../img/Rectangle 2.svg');
    background-repeat: no-repeat;
    background-position: right;
}

.details-item {
    margin-left: 40px;
}

.prices {
    font-size: 20px;
    margin-left: 40px;
    font-family: MullerRegular;
    color: #FFFFFF
    
}

.section2 {
    line-height: 200%;
    font-family: MullerRegular;
}

.list2 {
    list-style: none;
    margin-right: 15px;
    background-color: white;
    width: 570px;
    height: 165px;
    border-radius: 0px 0px 15px 15px;
    margin-bottom: 20px;
}

.services-section3 {
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 0px;
}

.item {
    display: inline-block;
    font-size: 20px;
    color: #CC9933;
    padding-right: 20px;
    margin-top: 20px;
    background-size: 11px;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url('../img/Rectangle 2.svg');
}

.down-text {
    font-family: MullerRegular;
    margin-left: 45px;
    line-height: 200%;
}

.advantages-section4 {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
    padding-inline-start: 0px;
}

.advantages-items {
    width: 277px;
    height: 100px;
}

.placement-section5 {
    align-items: flex-end;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.placement-items {
    width: 355px;
    height: 200px;
    border-radius: 0px 0px 15px 15px;
    background-color: white;
    margin-top: 40px;
    margin-left: 20px;
}

.placement-hotels {
    font-family: MullerRegular;
    font-size: 16px;
    color: black;
    line-height: 40px;
}

.rooms {
    margin-top: 30px;
}

