@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-SemiBold.eot');
	src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
		url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.eot');
	src: local('Montserrat Bold'), local('Montserrat-Bold'),
		url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Medium.eot');
	src: local('Montserrat Medium'), local('Montserrat-Medium'),
		url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-ExtraBold.eot');
	src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
		url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.eot');
	src: local('Montserrat Regular'), local('Montserrat-Regular'),
		url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@media (max-width:1024px) {
  .header__nav, .footer__right {
    display: none;
  }

  .header__container {
    background-image: url(../img/Component\ 6.svg);
    background-position: left center;
    background-repeat: no-repeat;
  }

}

* {
	list-style: none;
	font-family: 'Montserrat';
	text-decoration: none;
}

.container {
    max-width: 1770px;
  	margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-around;
  	margin-top: 14px;
  	box-shadow: 4px 10px 10px 0px rgba(147, 167, 182, 0.2);
}

.header__container {
  width: 1770px;
  display: flex;
  justify-content: space-between;
  margin-right: 1px;
}

.header__nav-list {
  	display: flex;
  	font-size: 18px;
  	font-weight: 600;
}

.header__img {
  	margin-bottom: 10px;
}

.header__item {
  	height: 24px;
  	margin-top: 7.5px;
}

.header__item:not(:last-child) {
  	margin-right: 85px;
}

.header__link {
  	color: #333333;
}

.header__item:hover {
  	border-bottom: 2px solid #FF9900;
}

.header__link:focus {
  border: 2px solid #FF9900;
}

.header__link:active {
  color: #E1670E;
}

.header__search {
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-top: 6px;
  border: 0px;
}

.header__search:hover {
  background-image: url(../img/status=hover.svg);
}

.header__search:focus {
  border: 2px solid #ff9900;
}

.hero {
	height: 620px;
	background-image: url('../img/low-angle-photo-of-balconies-2462015\ 1.jpg');
}

.hero__main-text {
	font-weight: 800;
	color: white;
	margin: 0;
	font-size: 70px;
	line-height: 85px;
	width: 837px;
	margin-left: 81px;
	padding-top: 101px;
}

.hero__text {
	color: white;
	font-size: 24px;
  font-weight: bold;
  line-height: 29px;
	max-width: 790px;
	margin-bottom: 91px;
	margin-left: 81px;
	margin-top: 23px;
}

.hero__button {
	height: 78px;
	width: 280px;
	font-size: 23.4581px;
	margin-left: 81px;
	cursor: pointer;
	font-weight: bold;
	color: white;
	background-color: #FF9900;
	border: 0;
	border-color: #FF9900;
}

.hero__button:hover {
	background: rgba(255, 153, 0, 0.7);
}

.hero__button:focus {
  background: rgba(255, 153, 0, 0.7);
}

.hero__button:active {
  background: #E1670E;
}

.about-us__heading {
	color: #333333;
	margin-top: 103px;
	font-size: 48px;
	margin-bottom: 22px;
  margin-left: 2px;
	font-weight: normal;
}

.about-us__text {
	font-weight: 400px;
	max-width: 1235px;
	line-height: 32px;
	margin-bottom: 49px;
}

.about-us__elements {
	display: flex;
	justify-content: space-between;
}

.about-us__img {
	width: 868px;
	height: 622px;
	background-image: url('../img/Rectangle\ 2.jpg');
	display: flex;
	flex-direction: column-reverse;
}

.about-us__down {
	display: flex;
	justify-content: space-around;
	height: 195px;
	background: rgba(0, 0, 0, 0.5);
	align-items: center;
}

.about-us__down-text {
	color: white;
	width: 493px;
	line-height: 32px;
  font-weight: bold;
}

.about-us__button {
	color: white;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
	border: 3px solid #FF9900;
	background-color: rgba(0, 0, 0, 0.5);
	width: 175px;
	height: 60px;
	cursor: pointer;
}

.about-us__button:hover {
	background: #FF9900;
}

.about-us__button:focus {
	background: #FF9900;
}

.about-us__button:active {
	background: #E1670E;
  border-color: #E1670E;
}

.about-us__cards {
  height: 622px;
}

.about-us__card {
  border: 1px solid #CACACA;
	margin-bottom: 28px;
	width: 868px;
	height: 295px;
	display: flex;
	align-items: center;
  justify-content: right;
}

.about-us__card-up {
  background-image: url(../img/Frame\ 16.svg);
  background-repeat: no-repeat;
  background-position-y:center;
  background-position-x: 8.8%;
}

.about-us__card-down {
  background-image: url(../img/Frame\ 12.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 8.8%;
}

.about-us__inside-card {
  display: flex;
  flex-direction: column;
  width: 470px;
  margin-right: 99px;
}

.about-us__cards-title {
	font-size: 24px;
	font-weight: bold;
	font-style: normal;
}

.about-us__cards-title-down {
  font-size: 24px;
	font-weight: bold;
	font-style: normal;
  margin-top: 3px;
}

.about-us__cards-upper-text {
  line-height: 32px;
  margin-top: 10px;
}

.about-us__cards-down-text {
	line-height: 32px;
  margin-top: 10px;
}

.work__title {
  color: #333333;
	margin-top: 103px;
	font-size: 48px;
  margin-left: 1px;
	font-weight: normal;
}

.work__steps {
	display: flex;
	margin-top: 52px;
	margin-bottom: 49px;
  margin-left: 1px;
}

.work__step:nth-child(1) {
	margin-right: 85px;
}

.work__step:not(:nth-child(1), :last-child) {
  margin-right: 86px;
}

.work__step {
  font-size: 18px;
  color: black;
}

.work__step:hover {
	color: rgba(255, 153, 0, 1);
}

.work__step:focus {
  border-color: #FF9900;
  border: 2px solid #FF9900
}

.work__step:active {
  color:#E1670E
}

.work__title-text {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 11px;
	margin-top: 0px;
}

.work__text {
	max-width: 758px;
	line-height: 32px;
	margin-bottom: 49px;
	margin-top: 0px;
}

.work__button-more {
	background-color: #FF9900;
	font-weight: bold;
	color: white;
	border: 0px;
	width: 175px;
	height: 60px;
	cursor: pointer;
  padding-top: 3px;
	margin-right: 32px;
}

.work__button-more:hover {
	background: rgba(247, 176, 69, 1);
}

.work__button-more:focus {
  background: #F7B045;
}

.work__button-more:active {
  background: #E1670E;
}

.work__button-contract {
	color: black;
	border: 1px solid #333333;
	background-color: white;
	width: 147px;
	height: 60px;
	cursor: pointer;
  padding-top: 2px;
	margin-bottom: 52px;
}

.work__button-contract:hover {
	background: rgba(102, 102, 102, 1);
	color: white;
}

.work__button-contract:focus {
  background: #666666;
  color: white;
}

.work__button-contract:active {
  background: #000000;
  color: white;
}

.work__buttons {
	display: flex;
}

.work__img {
  margin-top: 7px;
	width: 870px;
	height: 460px;
}

.work__main {
	display: flex;
	justify-content: space-between;
}

.questions__title {
	font-size: 48px;
  margin-top: 52px;
  margin-bottom: 44px;
}

.questions__list {
  padding-left: 0px;
}

.questions__text {
  font-size: 20px;
  letter-spacing: 0.39px;
  font-weight: bold;
  padding-top: 15.4px;
  padding-bottom: 15.4px;
  line-height: 32px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #CACACA;
  display: flex;
  align-items: center;
  background-image: url(../img/+х.svg);
  background-repeat: no-repeat;
  background-position: right center;
  cursor: pointer;
  margin-top: -1px;
}

.question__text-slash {
  color: #CACACA;
  font-size: 20px;
}

.questions__text:first-child {
  border-top: 1px solid #CACACA;
}

.questions__text:hover {
  color: #FF9900;
  border-top: 1px solid #ff9900;
  border-bottom: 1px solid #ff9900;
  background-image: url(../img/+х\ \(1\).svg);
  background-repeat: no-repeat;
  background-position: right center;
}

.footer {
  background-color:#222222;
  height: 594px;
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.footer__container {
  width: 1770px;
  display: flex;
  justify-content: space-between;
}

.footer__left {
  width: 255px;
  margin-top: 50px;
  margin-right: 113px;
}

.footer__nav {
  margin-top: 25px;
  margin-bottom: 97px;
  display: flex;
  flex-direction: column;
}

.footer__nav-text {
  color: #CACACA;
  font-weight: 600;
  font-size: 18px;
}

.footer__nav-text:not(:last-child) {
  margin-bottom: 16px;
}

.footer__nav-text:hover {
  color: #FF9900;
}

.footer__nav-text:focus {
	border: 2px solid #FF9900;
}

.footer__nav-text:active {
	color: #E1670E;
}

.footer__facebook {
  background-image: url(../img/social\ media.svg);
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  border: 0px;
  cursor: pointer;
  margin-right: 21px;
  background-color: #222222;
}

.footer__facebook:hover {
  background-image: url(../img/social\ media\ \(1\).svg);
}

.footer__facebook:focus {
  border: 2px solid #FF9900;
}

.footer__facebook:active {
  background-image: url(../img/social\ media\ \(2\).svg);
}

.footer__vk {
  background-image: url(../img/vk.svg);
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  border: 0px;
  cursor: pointer;
  margin-right: 21px;
  background-color: #222222;
}

.footer__vk:hover {
  background-image: url(../img/vk\ \(1\).svg);
}

.footer__vk:focus {
  border: 2px solid #FF9900;
}

.footer__vk:active {
  background-image: url(../img/vk\ \(2\).svg);
}

.footer__instagram {
  background-image: url(../img/instagram\ \(1\).svg);
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  border: 0px;
  cursor: pointer;
  background-color: #222222;
}

.footer__instagram:hover {
  background-image: url(../img/instagram\ \(2\).svg);
}

.footer__instagram:focus {
  border: 2px solid #FF9900;
}

.footer__instagram:active {
  background-image: url(../img/instagram\ \(3\).svg);
}

.footer__center {
  margin-top: 6px;
}

.footer__form-title {
  font-size: 48px;
  color: #CACACA;
  margin-bottom: 25px;
}

.footer__form {
  display: flex;
  flex-direction: column;
}

.footer__form-name-mail {
  background-color: #414141;
  width: 544px;
  height: 58px;
  border: 0px;
  margin-bottom: 25px;
  padding-left: 24px;
  color: white;
}

.footer__form-name-mail:hover {
  background-color: #666666;
}

.footer__form-name-mail:focus {
  background-color: #666666;
}

.footer__form-name-mail:active {
  color: white;
}

.footer__form-message {
  width: 544px;
  height: 124px;
  background-color: #414141;
  margin-bottom: 32px;
  border: 0px;
  padding-left: 24px;
  padding-top: 24px;
  color: white;
  resize: none;
}

.footer__form-message:hover {
  background-color: #666666;
}

.footer__form-message:focus {
  background-color: #666666;
}

.footer__form-message:active {
  color: white;
}

.footer__form-btn {
  width: 269px;
  height: 58px;
  border: 0px;
  background-color: #FF9900;
  font-weight: bold;
  cursor: pointer;
  color: white;
  -webkit-appearance: none;
  margin-right: 18px;
}

.footer__form-btn:active {
  background-color: #E1670E;
}

.footer__form-checkbox {
  color: #CACACA;
}

.footer__right {
  margin-top: 139px;
  width: 363px;
  line-height: 32px;
  color: rgba(202, 202, 202, 1);

}


